/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


/* ============== HEADER STYLES ============== */
.page-navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    column-gap: 40px;
}

.contacts {
    display: flex;
    column-gap: 40px;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        margin-right: 76px;
}

.studio-black {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}

.menu-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#2E2F42;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.contacts-link {
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        color: #434455;
}

.contacts {
        font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

/* ============== Section 1 ============== */
/* section 1 and footer*/
.first-section,
.page-footer {
        background-color: #2E2F42;
}

.main-title {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        /* 107.143% */
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-align: center;
}

.main-button {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #4D5AE5;
}

.main-button:hover,
.main-button:focus {
    background: #404BBF;
}

/* ============== Section 2 ============== */
/* section 2 and 3 and 4 */
.advantage-title,
.team-title,
.portfolio-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2E2F42;
    }
    
    .text-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    .text {
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        color: #434455;
    }


/* ============== Section 3 ============== */
.third-section {
       background-color: #F4F4FD;
}

.team-list {
    background-color: #FFFFFF;
}



/* ============== Section 4 ============== */


/* ============== FOOTER ============== */
.studio-white {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.page-footer .text {
    color: #F4F4FD;
}